

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@300&family=Tektur:wght@500&display=swap');


body {
    background-image: url("Beta\ Key\ Art_VALORANT.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

nav {text-align: center;
    max-width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 0;
    background-color: #1e1923;
    margin-bottom: 100px;
    max-width: 100%
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 p {
   color: white;
   font-family: "sans-serif";
   text-decoration: none;
   font-size: 1.3em;
   height: auto;
}
nav a {margin: 40px;
     font-size: 2.5em;
      font-family: "sans-serif";
      text-decoration: none;
      color: white;
      background: color #1e1923;
      padding: 10px 20px;
      margin-bottom: 0;
      display: inline-block;
      width: 4em;
      justify-content: space-between;
      height: 150px;
      max-width: auto;
}

.valorantlogo {
    width: 200px;
    height: 150px;
    padding: 5px;
    max-width: 500px;
}


.container div.palkki {
    background-color: #1e1923;
    width: 100%;
    padding: 0px;
    margin: 0;
    max-width: 1200px;
    
}
.container div.laatikko {
  width: 75%;
  margin: auto;
  padding: 15px;
  text-align: left;  
  font-size: 30px; 
  background-color: #1e1923;
  height: 100%;
  max-width: 1200px;
  border-radius: 10px;
 

}


h1 {margin-left: 175px;
text-decoration: none;
font-size: 5em;
font-family: "Tektur";
color: white;
margin: 4rem;
height: 100%;
}
a:hover {
    background-color: #1e1923;
    text-decoration: underline;
}

