

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@300&family=Tektur:wght@500&display=swap');


body {
    background-image: url("Beta\ Key\ Art_VALORANT.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 40px;
}
nav a {margin: 20px;
     font-size: 30px;
      font-family: "sans-serif";
      text-decoration: none;
      color: white;
      background: color #1e1923;
      padding: 5px;
      margin-bottom: 10px;
      display: inline-block;
      width: 8em;

}


h1 {margin-left: 175px;
font-size: 5vw;
font-family: "Tektur";
color: white;

}
